.experience{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}


.experience li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:.5rem 0
    
}


.experience li{
    margin-bottom: 1rem;
}


.experience li .period::before{
    content: '';
    width: 1em;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/icons/calendar.svg');
    background-size: contain;
    margin-right: .5rem;
}

