.portfolio{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.portfolio li{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0 ;
}


.portfolio li .title{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem; 
    
}


.portfolio li .title.github::before{
    content: '';
    width: 1em;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/icons/git.svg');
    background-size: contain;
    margin-right: .5rem;

}

.portfolio li a {
    color: #f1f1f1;
    text-decoration: none;
}


.portfolio li a:hover{
    text-decoration: underline;

}